<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h5>All you need</h5>
            </div>
            <div class="col-sm-4">
                <h6>About</h6>
                <label>About CreateSafe</label>
                <a href="{{ path('features') }}"><label>How does CreateSafe work?</label></a>
                <label>Terms</label>
                <label>Privacy</label>
            </div>
            <div class="col-sm-4">
                <h6>Copyright</h6>
                <label>What is Copyright?</label>
                <a href="{{ path('FAQs') }}"><label>All FAQs</label></a>
            </div>
            <div class="col-sm-4">
                <h6>Share</h6>
                <label>Invite a Friend</label>
                <label>Twitter</label>
                <label>Instagram</label>
                <label>Facebook</label>
                <label>Contact us</label>
            </div>
        </div>
    </div>
</footer>