hr {
    margin: 20px 20px;
}

.jumbotron{
    position: relative;
    color: white;
    z-index: 1;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    overflow: hidden;
}

.jumbotron h1 {
    color: white;
    font-size: 3.5em;
    font-weight: 400;
}

#onVideo {
    position: relative;
    margin-top: 5%;
    height: 100%;
}

#video-background {
    position: absolute;
    top: -50px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100%;
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    -o-filter: brightness(75%);
    -ms-filter: brightness(75%);
}

h2 {
    margin: 0 175px;
    font-weight: 300;
    margin-bottom: 10px;
}

h4 {
    margin-top: 20px;
}

p {
    font-size: 1.15em;
    font-weight: lighter;
}

.col-xs-12 .container-fluid {
    margin-top: 30px;
}

.container-fluid {
    text-align: center;
}

.small-box {
    display: inline-block;
    margin: 0 6%;
    max-width: 200px;
}

.small-box img {
    height: 50px;
}

.small-box h3 {
    font-size: 1.2em;
    color: #41C8FF;
    font-weight: normal;
    padding: 10px;
    border: 1px solid #41C8FF;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}

.circle {
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    border-radius: 100% !important;
    overflow: hidden;
    height: 200px;
    width: 200px;
    background-color: #41C8FF;
    position: relative;
}

.circle h2 {
    position: absolute;
    color: white;
    top: 20px;
    left: 40px;
    margin: 0;
}

.circle img{
    padding: 50px;
    height: 200px;
}

@media (max-width: 768px) {
    .jumbotron {
        height: 250px;
    }
}

@media (min-width: 768px) and (max-height: 992px) {
    .jumbotron {
        height: 350px;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        height: 500px;
    }
}

@media (min-width: 768px) {
    header {
        position: absolute;
        width: 100%;
        z-index: +102;
    }

    /*set colours for dropdown when the background is transparent*/
    .dropdown-menu {
        outline: none;
        border: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        background-color: rgba(221, 222, 227, 0.5) !important;
    }

    .navbar {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .navbar-default .navbar-brand {
        color: #232829;
    }

    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #41C8FF;
    }

    .navbar-default .navbar-text {
        color: white;
    }

    .navbar-default .navbar-nav > li > a {
        color: white;
    }

    .navbar-default .navbar-nav > li > a:focus {
        color: white;
    }

    .navbar-default .navbar-nav > li > a:hover {
        color: #41C8FF;
    }

    .navbar-default .navbar-nav > li > .dropdown-menu {
        background-color: transparent;
    }

    .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
        color: white;
    }

    .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
        color: #41C8FF;
        background-color: transparent;
    }

    .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
        background-color: transparent;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #41C8FF;
        background-color: transparent;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #41C8FF;
        background-color: transparent;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #232829;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #232829;
    }

    .navbar-default .navbar-link {
        color: #232829;
    }

    .navbar-default .navbar-link:hover {
        color: #41C8FF;
    }
}