html, body {
    background-color: #ffffff !important;
    min-height: 100%;
}

.blue-background {
    background-color: #41C8FF;
    color: white;
}

html, label, p, section, strong {
    font-family: "Gill Sans" !important;
}

p, section {
    font-size: 1.5em;
    font-weight: lighter;
}

.alert>p {
    font-size: 1.1em;
}

#dropzone {
    border: 3px dashed lightgray;
}

#dropzone span {
    color: dimgray;
    font-size: 1.6em;
}

#logo {
    height: 120px;
    display: inline-block;
    position: relative;
}

.blueButton {
    background-color: #41C8FF;
    color: white;
    border: 0;
    -webkit-border-radius:1px !important;
    -moz-border-radius:1px !important;
    border-radius:1px !important;
}

.redButton {
    background-color: #ed4300;
    color: white;
    border: 0;
    -webkit-border-radius:1px !important;
    -moz-border-radius:1px !important;
    border-radius:1px !important;
}

.redButton:hover {
    background-color: #c94000;
}

#impliedsubmit {
    background-color: #41C8FF;
    color: white;
    border: 0;
    -webkit-border-radius:1px !important;
    -moz-border-radius:1px !important;
    border-radius:1px !important;
    outline: none !important;
}

.blueButton:hover {
    background-color: #397fb4;
}

.greyButton {
    background-color: #999999;
    color: white;
    border: 0px;
    -webkit-border-radius:1px !important;
    -moz-border-radius:1px !important;
    border-radius:1px !important;
}

.greyButton:hover {
    background-color: #787878;
}

button, .blueButton {
    outline: none !important;
}

.redButton:hover, .redButton:active, .redButton:focus, .greyButton:hover, .greyButton:active, .greyButton:focus, .blueButton:hover, .blueButton:active, .blueButton:focus {
    color: white !important;
}


.brand {
    height: 100%;
    display: inline !important;
}

#CreateSafe {
    padding-top: 5px;
}

.navbar {
    font-size: 1.1em;
    background-color: white;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
    border-top: 0px !important;
    margin-bottom: 0px !important;
}

.navbar-brand {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 3px !important;
}

#protect {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 8px 0;
    margin-right: 50px;
    color: red;
    text-transform: uppercase;
    border: 2px solid red;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    cursor: pointer;
}

ul {
    list-style: none;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9 !important;
    border-top: 1px solid #e7e7e7;
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer label {
    font-weight: lighter;
    display: block;
    color: black;
}

.footer a:hover {
    text-decoration: none;
}

.footer label:hover {
    color: #33ccff;
    cursor: pointer;
}