html, body {
    background-color: #f9f9f9 !important;
}

.menu {
    position: relative;
    display: block;
    text-align: center;
    padding-left: 0px !important;
}

.menu>a>li {
    display: inline-block;
    width: 33%;
    height: 115px;
    padding: 10px;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    background-color: white;
    border: 1px solid #c2c2c2;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    overflow: hidden;
    color: black;
}

.menu>a>li:hover {
    background-color: #2185C5;
    border-color: #1b6687;
    color: white !important;
}

.menu>a:hover {
    text-decoration: none;
}

/* Trick to change img color to white on hovering */
.menu>a>li:hover>.menu-option>img{
    filter: brightness(5000%);
    -webkit-filter: brightness(5000%);
    -moz-filter: brightness(5000%);
    -o-filter: brightness(5000%);
    -ms-filter: brightness(5000%);
}

.menu-option {
    height: 75%;
    padding-bottom: 1px;
}

.menu-option>img {
    margin-top: 5px;
    height: 70%;
    max-width: 100%;
}

.menu>a>li>p {
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-size: 1.15em;
}

.smaller {
    padding: 5px 0;
}

#inviteFriend span {
    margin-right: 10px;
}

#inviteFriend input {
    font-size: 1.2em;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    margin: 20px 0;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding: 3px 10px;
}