html, body {
    background-color: #f9f9f9 !important;
}

.menu {
    position: relative;
    display: block;
    text-align: center;
    padding-left: 0px !important;
}

.menu>a>li {
    display: inline-block;
    width: 33%;
    height: 115px;
    padding: 10px;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    background-color: white;
    border: 1px solid #c2c2c2;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    overflow: hidden;
    color: black;
}

.menu>a>li:hover {
    background-color: #2185C5;
    border-color: #1b6687;
    color: white !important;
}

.menu>a:hover {
    text-decoration: none;
}

/* Trick to change img color to white on hovering */
.menu>a>li:hover>.menu-option>img{
    filter: brightness(5000%);
    -webkit-filter: brightness(5000%);
    -moz-filter: brightness(5000%);
    -o-filter: brightness(5000%);
    -ms-filter: brightness(5000%);
}

.menu-option {
    height: 75%;
    padding-bottom: 1px;
}

.menu-option>img {
    margin-top: 5px;
    height: 70%;
    max-width: 100%;
}

.menu>a>li>p {
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-size: 1.15em;
}

.smaller {
    padding: 5px 0;
}

select {
    width: 200px !important;
    display: inline !important;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white !important;
    background-color: #666666;
    background-image: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border:none;
    outline:none;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.selector {
    position:relative;
    display: inline;
}

.selector:after {
    content:'>';
    font:20px "Heiti TC", monospace;
    color: white;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:-7px;
    padding:0 0 4px;
    width: 31px;
    text-align: center;
    border-bottom:2px solid white;
    position:absolute;
    pointer-events:none;
}

#inviteFriend span, #ceaseAndDesist span {
    margin-right: 10px;
}

#inviteFriend input, #ceaseAndDesist input[type="text"] {
    font-size: 1.2em;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    margin: 20px 0;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding: 3px 10px;
}

#ceaseAndDesist input, #ceaseAndDesist select {
    margin-bottom: 20px;
}