{% extends "FOSUserBundle::layout.html.twig" %}

{% block additionalStylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/dropzone.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sideBar.css') }}" />
    <style>
        hr {
            margin-left: 65px;
            margin-right: 65px;
        }

        .list {
            padding-left: 0px;
            margin-left: 50px;
        }

        /* height calculated according to height of side menu */
        .scrollable {
            height: 520px !important;
            overflow: scroll;
        }

        .list>li {
            position: relative;
            background-color: white;
            border: 1px solid #c2c2c2;
            line-height: 1.4;
            padding-left: 5px;
            margin-bottom: 15px;
        }

        .preview {
            float: left;
            height: 200px;
            width: 150px;
            margin: 10px;
            margin-right: 30px;
        }

        .description {
            padding-top: 10px;
        }

        label {
            display: block !important;
        }

        .view {
            position: absolute;
            width: 100px;
            font-size: 1.2em;
            color: white;
            top: 15px;
            right: 35px;
            background-color: #33ccff;
            border: 1px solid deepskyblue;
        }

        #searchDiv {
            height: 30px;
        }

        #search {
            width: 250px;
            display: inline;
            height: 30px;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            -webkit-border-radius:4px;
            -moz-border-radius:4px;
            border-radius:4px;
            border: 1px solid #33ccff;
            font-size: 14px;
            line-height: 1.42857143;
            padding: 6px 12px;
            padding-right: 30px;
            outline: none;
            position: absolute;
            right: 20px;
            clear: both;
            margin-right: 50px;
        }

        .magGlass {
            height: 25px;
            position: absolute;
            right: 27px;
            margin-top: 3px;
            margin-right: 50px;
        }

        #orderingForm {
            margin-left: 50px;
        }

        select {
            width: 200px !important;
            display: inline !important;
            height: 30px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: white !important;
            background-color: #666666;
            background-image: none;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            cursor:pointer;
            -webkit-border-radius:4px;
            -moz-border-radius:4px;
            border-radius:4px;
            border:none;
            outline:none;
        }

        /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            select {padding-right:18px}
        }

        .selector {
            position:relative;
            display: inline;
        }

        .selector:after {
            content:'>';
            font:20px "Heiti TC", monospace;
            color: white;
            -webkit-transform:rotate(90deg);
            -moz-transform:rotate(90deg);
            -ms-transform:rotate(90deg);
            transform:rotate(90deg);
            right:8px; top:-7px;
            padding:0 0 4px;
            width: 31px;
            text-align: center;
            border-bottom:2px solid white;
            position:absolute;
            pointer-events:none;
        }

        #secondRow {
            margin-top: 20px;
        }

        .shortcuts {
            position: absolute;
            bottom: 20px;
            right: 10px;
            padding-right: 10px;
        }

        .shortcuts>img {
            display: inline;
            height: 45px;
            margin-right: 10px;
        }

    </style>
{% endblock %}

{% block fos_user_content %}
    {% include "navigationBar.html.twig" %}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}
    <script type="text/javascript">
        function reorder() {
            $.ajax({
                type: "POST",
                url: "{{ path('fos_user_profile_show') }}",
                data: { orderBy: $('#orderBy').val() }
            })
            .done(function(data) {
                var ul = $('.list');
                var li = ul.find("li");
                var files = jQuery.parseJSON(data);
                li.detach().sort(function (a,b) {
                    var nameA = $($(a).find('#fileName')[0]).text();
                    var nameB = $($(b).find('#fileName')[0]).text();
                    for(var i =0; i<files.length; i++) {
                        if(files[i].originalName === nameA) {
                            return -1;
                        }
                        else if(files[i].originalName === nameB){
                            return 1;
                        }
                    }
                    return 0;
                });
                ul.append(li);
            });
        }

        function search() {
            var ul = $('.list');
            var li = ul.find("li");
            var value = $('#search').val().toLowerCase();
            li.each(function(index) {
                var name = $($(this).find('#fileName')[0]).text().toLowerCase();
                if(name.search(value) == -1) {
                    $(this).attr("style","display: none !important");
                } else {
                    $(this).attr("style","display: block");
                }
            });
        }

        $(document).ready(function () {
            $("#dropzone").dropzone({
                maxFilesize: 10, //MB; remember to change upload_max_filesize in php.ini too!!
                acceptedFiles: "application/msword,application/pdf,image/*",
                init: function() {
                    this.on("addedfile", function(file) {
                        // Create the remove button
                        var removeButton = Dropzone.createElement("<button class=\"btn btn-xs btn-danger\">Remove File</button>");


                        // Capture the Dropzone instance as closure.
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function(e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();

                            // Remove the file preview.
                            _this.removeFile(file);
                        });
                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                    });

                    //for debugging purposes, prints response to XMLHttpRequest when an error is returned
                    this.on("error", function(file, errorMessage, xhr) {
                        alert(xhr.responseText);
                    });
                }
            });
        });
    </script>
    <script src="{{ asset('js/dropzone.js') }}"></script>
{% endblock %}