{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors is defined and errors|length > 0 %}
            <span style="display: none;">
                {% for error in errors %}
                    {{ error.getMessage() }}
                {% endfor %}
            </span>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin fos_user_registration_register'}}) }}
{{ form_widget(form) }}
<div>
    <input class="btn btn-lg blueButton btn-block" type="submit" id="_submit" name="_submit" value="Register"/>
</div>
{{ form_end(form) }}