<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ asset('Bootstrap/css/bootstrap.min.css') }}">
    <style>
        html {
            background-color: #f9f9f9 !important;
        }

        img {
            margin: auto 5px;
        }

        .header {
            background-color: white;
        }

        img {
            height: 100px;
        }

        .col-sm-12 {
            text-align: center;
        }

        p {
            font-size: 1.05em;
            line-height: 2;
            padding: 20px 80px;
        }

        button {
            font-size: 1.2em;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            background-color: black;
            color: white;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:5px;
            height: 50px;
            width: 250px;
            margin: 20px 0;
            outline: none;
            border: none;
        }
    </style>
</head>
<body>
    <div class="fos_user_user_show">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 header">
                    <img alt="CreateSafe" src="{{ app.request.schemeAndHttpHost ~ asset("/images/logo/CreateSafe.png") }}">
                </div>
                <div class="col-sm-12">
                    <p>Thank you for joining CreateSafe. So that you can get started registering your creative works, please click to confirm your email address.</p>
                    <a href="{{ confirmationUrl }}"><button>CONFIRM YOUR EMAIL ADDRESS</button></a><br>
                    <img alt="Logo" src="{{ app.request.schemeAndHttpHost ~ asset("/images/logo/logo.png") }}">
                </div>
            </div>
        </div>
    </div>
</body>
</html>